@import 'src/styles/_vars';


.sliderCheckbox {
  display: flex;
  align-items: center;
  
  & input {
    opacity: 0;
  }
  
  &-slider {
    transition: 150ms ease-in-out;
    position: absolute;
    background-color: $mainColor;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    margin-left: 23px;
  }
  
  
  &-background {
    padding: 0 2rem;
    border-radius: 500px;
    height: 26px;
    background-color: $mainColorTransp;
    width: 60px;
  }  
}

.selected {
  transition: 150ms ease-in-out;
  position: absolute;
  background-color: $mainColor;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  margin-left: calc(4rem - 3px);
}