@import 'src/styles/_vars';

.menuComponent {
  z-index: 99999;
  position: fixed;
  height: 92.5vh;
  top: 4.3rem;
  background: hsla(0,0%,100%,.8);
  width: 100%;
  max-width: 400px;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  padding: 1rem;
  overflow: auto;
  
  &-list {
    display: flex;
    flex-direction: column;
    
    &--category {
      font-size: 1.5rem;
      font-weight: 700;
      color: $mainColor;
      text-transform: uppercase;
    }
    
    &--item {
      margin: 1rem;
      font-size: 1.3rem;

      &:hover {
        color: $mainColor;
      }
    }
    
  }
}

.open {
  transform: translateX(0);
}

.closed {
  transform: translateX(-100%);
}