@import 'src/styles/_vars';

.categories {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1rem;
  gap: 1rem;

  &-category {
    border-radius: .5rem;
    display: flex;
    align-content: center;
    padding: 1rem;

    &--title {
      color: white;
      margin-left: 1rem;
      text-transform: uppercase;
      font-weight: 500;
    }
  }

  &-home {
    background: $homeColor;
  }
  &-shopping {
    background: $shoppingColor;
  }
  &-animals {
    background: $animalColor;
  }
  &-bills {
    background: $billsColor
  }
  &-plants {
    background: $plantsColor;
  }
  &-events {
    background: $eventsColor;
  }
}