@import 'src/styles/_vars';

.percentBar {
  width: 3.5rem;
  height: .75rem;
  border-radius: 1rem;
  overflow: hidden;
  background: $mainColorTransp;
  
  &-percent {
    background: $mainColor;
    height: .75rem;
  }
}