@import 'src/styles/_vars';

.percentBar {
  width: 3.5rem;
  height: .75rem;
  border-radius: 1rem;
  overflow: hidden;
  background: $mainColorTransp;
  justify-self: center;
  
  &-percent {
    background: $mainColor;
    height: .75rem;
    animation: slideIn 1s ease-in-out forwards;
    border-radius: 1rem;
  }
}

.expired {
  font-size: .9rem;
}

@keyframes slideIn {
  from {
    transform: translateX(-120%)
  }
  to {
    transform: translateX(0%)
  }
}