@import 'src/styles/_vars';

.percentBar {
  width: 4rem;
  height: .75rem;
  border-radius: 1rem;
  overflow: hidden;
  background: $mainColorTransp;
  
  &-percent {
    background: $mainColor;
    height: .75rem;
    animation: slideIn 1s ease-in-out forwards;
    border-radius: 1rem;
  }
}

@keyframes slideIn {
  from {
    transform: translateX(-120%)
  }
  to {
    transform: translateX(0%)
  }
}