@import 'src/styles/_vars';

.expirationChip {
  max-width: 4.5rem;
  width: 100%;
  margin-left: .5rem;
  color: white;
  border-radius: 2rem;
  padding: .4rem;
  text-align: center;
  font-size: .7rem;
  font-weight: bold;
  background: green;
}

.urgent {
  background: $darkRedColor;
}

.expiredColor {
  background: $mainColor;
}