@import 'src/styles/_vars';

.expirationChip {
  margin-left: .5rem;
  color: white;
  border-radius: 2rem;
  padding: .4rem;
  font-size: .7rem;
  font-weight: bold;
  background: green;
}

.urgent {
  background: $darkRedColor;
}