@import 'src/styles/_vars';

.header {
  z-index: 9999;
  display: flex;
  position: fixed;
  clear: both;
  justify-content: space-between;
  width: 100%;
  padding: 1rem;
  background: $mainColor;
  margin-bottom: 4rem;
  font-size: 2rem;
  
  &-title {
    padding-top: .5rem;
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: .2rem;
    color: white;
    text-transform: uppercase;
    text-align: center;
  }

  &-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;

    &--notifications {
      width: 1rem;
      height: 1rem;
      border-radius: 100%;
      background: $darkRedColor;
      position: relative;
      inset: -.5rem 0 0 -.5rem;
      animation: breathing_notif 1s infinite alternate ;
    }
  }
  
  &-menuClose {
    transform: rotate(45deg);
  }
}

@keyframes breathing_notif {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
  }
}