@import 'src/styles/_vars';

.organisations{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;

  &-empty {
    margin-bottom: 1rem;
  }
}

.addOrganizationBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border: 5px solid $mainColor;
  border-radius: 50%;
  font-size: 3rem;
  font-weight: bold;
  color: $mainColor;
  margin: 0 auto;
  transition: 300ms ease-in-out;
  
  &-open {
    animation: 300ms ease-in-out forwards open_modal alternate;
    transform-origin: center;
    position: absolute;
  }

  &:hover {
    transform: rotate(270deg) scale(1.1);
    border: 5px solid $mainColor;
  }
}

@keyframes open_modal { 
  0% {
    width: 60px;
    height: 60px;
    top: 48%;
    left: 48%;
    opacity: 1;
  }
  20% {
    border-radius: 50%;
  }
  100% {
    border-radius: 0;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: $mainColor;
    opacity: .8;
  }
}