@import 'src/styles/_vars';

.catDetails {
  padding: 6rem 1rem 0;

  &-title {
    font-size: 1.5rem;
    font-weight: 900;
    letter-spacing: .1rem;
    text-transform: uppercase;
    color: $mainColor;
    margin-bottom: 1rem;
  }

  &-tasks {
    &--task {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      grid-auto-flow: column;
      margin-bottom: 1rem;
      padding-bottom: 1rem;
      align-items: center;
      border-bottom: 1px solid #ccc;

      &_taskName {
        text-align: left;
        font-weight: bold;
        grid-column-start: 1;
        grid-column-end: 3;
      }
      
      &_icons {
        justify-self: end;
        display: flex;
        grid-column: 5;
        gap: .5rem;

        &-icon {
          transition: 100ms ease-in-out;

          &:hover {
            transform: scale(1.05);
          }
        }
        
      }
    }
  }
}

.addTaskBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border: 5px solid $mainColor;
  border-radius: 50%;
  font-size: 3rem;
  font-weight: bold;
  color: $mainColor;
  margin: 0 auto;
  transition: 300ms ease-in-out;
  
  &-open {
    animation: 300ms ease-in-out forwards open_modal alternate;
    transform-origin: center;
    position: absolute;
  }

  &:hover {
    transform: rotate(270deg) scale(1.1);
    border: 5px solid $mainColor;
  }
}